*{
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.wrapper{
    width: 1000px;
    height: 1000px;
    margin: 100px auto;
    background-color: #F9CC9D;
    display: flex;
    border: 1px solid #a75a2c;
    border-style: inset;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .5);
    padding: 10px;
    position: relative;

}
.mainWrapper{
    width: 800px;
    height: 800px;
    border: 15px solid #E8E6EF;
    margin: auto;
    box-sizing: content-box;
    outline: 45px groove #CE480A;
}
/*
================================================================
  Style for Top and Bottom Section and Small four Circle
================================================================
*/
.topSection, .bottomSection{
    width: 800px;
    height: 320px;
}
.leftBox, .rightBox{
    width: 300px;
    height: 300px;
    box-sizing: content-box;
    float: left;
    display: flex;
    position: relative;
}
.middleBox{
    width: 160px;
    height: 320px;
    float: left;
}
.smallCircle1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
}
.smallCircle2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}
.smallCircle3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.smallCircle4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
/*
================================================================
  Style for Top and Bottom Section and Small four Circle
================================================================
*/


/*
================================================================
   Style for Inner BigCircle and four White background Circle
================================================================
*/
.innerBigCircle{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.innerCircle1{
    background-color: white;
    border-radius: 50%;
    height: 90px;
    left: 80px;
    position: absolute;
    top: 10px;
    width: 90px;
}
.innerCircle2{
    background-color: white;
    border-radius: 50%;
    height: 90px;
    position: absolute;
    right: 10px;
    top: 80px;
    width: 90px
}
.innerCircle3{
    background-color: white;
    border-radius: 50%;
    bottom: 80px;
    height: 90px;
    left: 10px;
    position: absolute;
    width: 90px;
}
.innerCircle4{
    background-color: white;
    border-radius: 50%;
    bottom: 10px;
    height: 90px;
    position: absolute;
    right: 80px;
    width: 90px;
}

/*
=============================================================
    Style for Inner Big and four White background Circle
=============================================================
*/


/*
==============================================================
         Style for Middle Section and all Square Boxes
==============================================================
*/
.middleSection{
    width: 800px;
    height: 160px;
}
.middleLeft, .middleRight{
    width: 320px;
    height: 160px;
    float: left;
}
.middleMid{
    width: 160px;
    height: 160px;
    float: left;
    border: 80px solid;
    border-color: #B52F25 #015BF0 #F8E595 #329931;
    box-sizing: border-box;
}
.squareBox{
    width: 53.333333px;
    height: 53.33333px;
    border: 1px solid #964814;
    box-sizing: border-box;
    float: left;
}
/*
===============================================================
       Style for Middle Section and all Square Boxes
===============================================================
*/


/*
===============================================================
             Background Color, images and border
===============================================================
*/

.backgroundRed{
    background: #B9201B url("images/bgRed.jpg") repeat;
}
.backgroundGreen{
    background: #0C57F1 url("images/bgGreen.jpg") repeat;
}
.backgroundBlue{
    background: #0C57F1 url("images/bgBlue.jpg") repeat;
}
.backgroundYellow{
    background: #F89226 url("images/bgYellow.jpg") repeat;
}
.borderRed{
    border: 10px solid #B9201B;
}
.borderGreen{
    border: 10px solid #359437;
}
.borderBlue{
    border: 10px solid #0C57F1;
}
.borderYellow{
    border: 10px solid #F8E595;
}
/*
===============================================================
             Background Color, images and border
===============================================================
*/


/*
===============================================================
        Style for Red Green Yellow and Blue Arrow
===============================================================
*/
.bgArrowYello{
    background: url("images/arrowYellow.png")  no-repeat center center;
}
.bgArrowRed{
    background: url("images/arrowRed.png")  no-repeat center center;
}
.bgArrowGreen{
    background: url("images/arrowGreen.png")  no-repeat center center;
}
.bgArrowBlue{
    background: url("images/arrowBlue.png")  no-repeat center center;
}
/*
===============================================================
         Style for Red Green Yellow and Blue Arrow
===============================================================
*/

.info{
    position: absolute;
    bottom: 1%;
    left: 39.5%;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0,.5);
}
.info> p{
    color: #222;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}




